<ion-header>
  <ion-toolbar color="light">
    <ion-title>Places</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="globe"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="places.length > 0; else noPlaces">    
      <ion-item *ngFor="let place of places" [routerLink]="['/places', place.id]">        
          <ion-avatar slot="start">
            <ion-img [src]="place.imageUrl"></ion-img>
          </ion-avatar>
          {{place.title}}
      </ion-item>
  </ion-list>
  <ng-template #noPlaces>
    <p class="ion-text-center">No places has been added.</p>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewPlace()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
