<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="button-container">
      <ion-col class="ion-margin-horizontal">

        <div class="openDoorButton">
          <!-- SVG Press Button Icon -->
          <ion-icon (click)="actionDoor({lock:doorValue})" src="/assets/icon/open-door-button.svg" id="open-button-svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">Press to Open Door</h2>
      </ion-col>
    </ion-row>
  
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>