<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding signup_container">

    <!-- Header -->
    <ion-row>
      <ion-col>
        <div class="header_section">
          <!-- Firebase Icon -->
          <svg width="174" height="174" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"
            id="firebase_logo">
            <g clip-path="url(#clip0)">
              <path
                d="M39.24 23.116L32.834 29.076L26.89 17.086L29.966 10.19C30.766 8.79 32.014 8.806 32.794 10.19L39.24 23.116Z"
                fill="#FFA000" />
              <path d="M26.89 17.086L32.834 29.076L8.894 51.346L26.89 17.086Z" fill="#F57F17" />
              <path
                d="M46.246 14.006C47.39 12.906 48.574 13.282 48.876 14.84L55.108 51.05L34.452 63.45C33.732 63.85 31.812 64.022 31.812 64.022C31.812 64.022 30.064 63.814 29.398 63.422L8.894 51.346L46.246 14.006Z"
                fill="#FFCA28" />
              <path
                d="M26.89 17.086L8.896 51.346L16.91 1.27599C17.206 -0.284009 18.094 -0.434009 18.886 0.941991L26.89 17.086Z"
                fill="#FFA000" />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="64" height="64" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </ion-col>
    </ion-row>

    <!-- Sign up Form -->
    <ion-row>
      <ion-col>
        <form>
          <div class="ion-padding signup_form">
            <!-- Sign up Inputs -->
            <div [formGroup]="signupFields">
              <ion-input formControlName="firstName" placeholder="First Name" class="ion-padding" id="login-input" type="text" required></ion-input>
              <br>
              <ion-input formControlName="lastName" placeholder="Last Name" class="ion-padding" id="login-input" type="text" required></ion-input>
              <br>
              <ion-input formControlName="username" placeholder="Username" class="ion-padding" id="login-input" type="text" required></ion-input>
              <br>
              <ion-input formControlName="email" placeholder="Email" class="ion-padding" id="login-input" type="email" required></ion-input>
              <br>
              <ion-input formControlName="password" placeholder="Password" class="ion-padding" id="login-input" type="password" required></ion-input>
              <br>
            </div>
            <!-- Sign up Button -->
            <div id="sign-up-btn">
              <ion-button [disabled]="signupFields.invalid" (click)="onRegister()" expand="block" shape="round" size="default" id="sign-up-button" type="submit">
                <ion-text class="ion-text-uppercase">Register</ion-text>
              </ion-button>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>